{% extends 'base.html' %}

{% block content %}


<div class="row" style="padding:20px; background-color:#1abc9c;">
      <div class="px-5"><br>
        <h3>Central Teacher Eligibility Test (CTET)</h3><br>
        <p>In accordance with the provisions of sub-section (1) of Section 23 of the RTE Act, the National Council for Teacher Education (NCTE) vide Notification dated 23rd August, 2010 and 29th JULY, 2011 laid down the minimum qualifications for a person to be eligible for appointment as a teacher for class I to VIII.  It had been inter alia provided that one of the essential qualifications for a person to be eligible for appointment as a teacher in any of the schools referred to in Clause (n) of section 2 of the RTE Act is that he/she should pass the Teacher Eligibility Test (TET) which will be conducted by the appropriate Government in accordance with the Guidelines framed by the NCTE.
         </p><br>
        <p><a class="btn btn-success" href="https://ctet.nic.in/CMS/public/home.aspx" target="_blank" role="button">View details »</a></p><br>

          <h3>Uttar Pradesh Public Service Commission(UPPSC)</h3><br>
        <p>The Uttar Pradesh Public Service Commission (UPPSC) (Hindi: लोक सेवा आयोग, उत्तर प्रदेश) is the state agency authorized to conduct the Civil Services Examination for entry-level appointments to the various Civil Services of Uttar Pradesh. The agency's charter is granted by the Constitution of India. Articles 315 to 323 of Part XIV of the constitution, titled Services Under the Union and the States, provide for a Public Service Commission for the Union and for each state.
         </p><br>
        <p><a class="btn btn-success" href="http://uppsc.up.nic.in/" target="_blank" role="button">View details »</a></p><br>
        </div>
    </div>



{% endblock %}	